# idea文件
.idea/
/web/.idea/
/server/.idea/

# vscode 文件
.vscode
/web/.vscode
/server/.vscode

.DS_Store

# local env files
.env.local
.env.*.local

go.sum
/server/go.sum
/server/log/
/server/gea
/server/tmp
/server/latest_log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/server/*.exe
/server/*.exe~
/server/*.dll
/server/*.so
/server/*.dylib

# Test binary, built with `go test -c`
/server/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
/server/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.iml


# web
/web/node_modules
/web/.DS_Store
/web/dist
/web/dist-ssr
/web/*.local
/web/.gitignore

